.con
{
    background: lightblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card
{
    
  height:18em;
  width:16em;
  display:flex;
  box-orient: vertical;
  flex-direction:column;
  position:relative;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:20px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
   
}

.back
{
  background-image: url("1.jpg");
  height:6em;
  width:16em;
  padding:1em 2em;
  position:Absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  top:0px;
  background-size:cover;
  background-repeat:no-repeat;;
}


.text
{
  background-color: #FAFAFC;
  height:12em;
  width:16em;
  position:absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  bottom:0em;
  padding: 0.5em;
  text-align:center;
}

.card:hover .text
{
  height:0em;
  padding:0px 1em;
}
.card:hover .back
{
  height:18em;
  background-position: center;
  background-size: cover;
}
