@font-face {
    font-family: 'Chancur';
    src: url('chancur.ttf');
}

*
{
    margin: 0;
    padding: 0;
}
.con
{
    background: lightblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

h2
{
    color: silver;
    font-family: 'Chancur';
    font-style: cursive;
}

h3
{
    color: gold;
    font-family: 'Chancur';
    font-style: cursive;
}

/*-----------------------------------------------------------------------*/

.card
{
    
  height:18em;
  width:16em;
  display:flex;
  box-orient: vertical;
  flex-direction:column;
  position:relative;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:20px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #e71919, -15px -15px 27px #e71919;
}

.back
{
  background-image: url("1.jpg");
  height:6em;
  width:16em;
  position:Absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  top:0px;
  background-size:cover;
  background-repeat:no-repeat;;
}


.text
{
  background-color: #FAFAFC;
  height:12em;
  width:16em;
  position:absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  bottom:0em;
  padding: 0.5em;
  text-align:center;
}

.card:hover .text
{
  height:0em;
  padding:0px 1em;
}
.card:hover .back
{
  height:18em;
  background-position: center;
  background-size: cover;
}



/*-----------------------------------------------------------------------*/


.card1
{
    
  height:18em;
  width:16em;
  display:flex;
  box-orient: vertical;
  flex-direction:column;
  position:relative;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:20px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #6aaef3, -15px -15px 27px #6aaef3;
   
}

.back1
{
  background-image: url("2.jpg");
  height:18em;
  width:16em;
  position:Absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  top:0px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  
}


.text1
{
  background-color: #FAFAFC;
  height:0em;
  width:16em;
  position:absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  bottom:0em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card1:hover .text1
{
  height:18em;
  padding:0px 1em;
}
.card1:hover .back1
{
  height:0em;
}


/*-------------</p>----------------------------------------------------------*/


.card2
{
    
  height:18em;
  width:16em;
  display:flex;
  box-orient: vertical;
  flex-direction:column;
  position:relative;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:20px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #cacad1, -15px -15px 27px #cacad1;
   
}

.back2
{
  background-image: url("3.jpg");
  height:6em;
  width:16em;
  position:Absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  top:0px;
  background-size:cover;
  background-repeat:no-repeat;;
}


.text2
{
  background-color: #FAFAFC;
  height:12em;
  width:16em;
  position:absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  bottom:0em;
  padding: 0.5em;
  text-align:center;
}

.card2:hover .text2
{
  height:0em;
  padding:0px 1em;
}
.card2:hover .back2
{
  height:18em;
  background-position: center;
  background-size: cover;
}


/*-----------------------------------------------------------------------*/


.card3
{
    
  height:18em;
  width:16em;
  display:flex;
  box-orient: vertical;
  flex-direction:column;
  position:relative;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:20px;
  overflow:hidden;
  box-shadow:  15px 15px 27px #3b4046, -15px -15px 27px #3b4046;
   
}

.back3
{
  background-image: url("4.jpg");
  height:18em;
  width:16em;
  position:Absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  top:0px;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  
}


.text3
{
  background-color: #FAFAFC;
  height:0em;
  width:16em;
  position:absolute;
  transition:all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  bottom:0em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.card3:hover .text3
{
  height:18em;
  padding:0px 1em;
}
.card3:hover .back3
{
  height:0em;
}


/*-----------------------------------------------------------------------*/


.link
{
    height: 20px;
    width: 20px;
    width:1em;
    height:1em;
    background: url("5.jpg");
    background-position: center;
    background-size: cover;
    position:absolute;
    bottom:1em;
    left:1em;
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 3px;
}

.card:hover .link
{
    background: url("4.png");
    background-position: center;
    background-size: cover;
}

.card2:hover .link
{
    background: url("4.png");
    background-position: center;
    background-size: cover;
}

.link1
{
    height: 20px;
    width: 20px;
    width:1em;
    height:1em;
    background: url("4.png");
    background-position: center;
    background-size: cover;
    position:absolute;
    bottom:1em;
    left:1em;
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 3px;
}


.card1:hover .link1
{
    background: url("5.jpg");
    background-position: center;
    background-size: cover;
}

.card3:hover .link1
{
    background: url("5.jpg");
    background-position: center;
    background-size: cover;
}